	<h1>Events</h1>

		<form ng-submit="post()">
			<input required type="text" placeholder="Event Title" ng-model="newEvent.title" /><br/><br/>
			<input required type="text" placeholder="Venue" ng-model="newEvent.venue" /><br/><br/>
			<input required type="date" ng-model="newEvent.date" /><br/><br/>
			<input class="button" type="submit" value="Post" />
		</form>

		<div id="events-posted">
			<h2>Events Posted</h2>
			<div ng-repeat="event in events | orderBy: 'date'">
				<p>{{event.title}}	at {{event.venue}} on {{event.date}}</p>
			</div>
		</div>	
